google-cloud-storage
pdfminer.six
google-api-python-client
google-cloud
google-cloud-bigquery
google-api-python-client
google-cloud-bigquery-storage
lxml
requests
pdfkit
Flask
gunicorn
werkzeug==2.2.2
weasyprint
PyPDF2
faiss-cpu
tiktoken
google-cloud-aiplatform
flask_cors